* {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
    color: #20242D;
}

section {
    padding-left: 8px;
    padding-right: 8px;
}

h1, h2 {
    margin: 0;
}

ul {
    padding: 0;
}

.page-header {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
}

.navigation-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #20242D;
}

.active-nav-link {
    color: #FF7129;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 7px;
}

.header-wrapper-contacts {
    background-color: #20242D;
    color: #ffffff;
}

.contact-link{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-address{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}


.welcome-section{
    background-color: #5a6a81;
}

.main-title{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
}

.welcome-text{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.button{
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-family: 'Gilroy', sans-serif;
    border: #FF7129;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 187px;
    height: 49px;    
}

.centered-button {
    display: flex;
    justify-content: center;
    padding-top: 59px;
}

.title{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
}

.title-white{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
}

.text-container{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.image-slide-wrapper img{
    width: 1019px;
    height: 532px;
}

.contact-naming{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.email-link-contacts a{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.phone-link-contacts a{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.installation-title{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
}

.installation-title-list{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.installation-list-items-container{    
    width: 700px;
    height: 40px;
    background: #F2F2F2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.installation-list-items{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    padding-left: 57px;
}

.installation-final{
    width: 700px;
    height: 236px;
    left: 450px;
    top: 4966px;
    background: #F2F2F2;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 120px;
}

.orange-text{
    color: #FF7129;
}

.li-footer{
    color: white;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;    
    align-items: center;
}

.navigation-list li {
    margin-right: 56px;
}

.navigation-list li:last-child{
    margin: 0;
}

.header-wrapper-contacts {
    justify-content: flex-start;
}

.header-address {
    margin-right: auto;
}

.contact-link:first-of-type {
    margin-right: 56px;
}

.footer-wrapper{
    background-color: #20242D;      
    padding-left: 50px;
    padding-right: 50px;    
    
}

.footer-menu {
    display: flex;    
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer-list-wrapper {
    margin-left: auto;
    display: flex;
    color: #FFFFFF;
    list-style-type: none;    
}



.footer-list-wrapper a {
    color: #FFFFFF;    
    margin-right: 56px;    
}

.footer-list-wrapper:first-of-type {
    margin-right: auto;
}


.footer-button {
    width: 187px;
    height: 49px;
    background-color: transparent;
    border: 1px solid #FF7129;
    color: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
}


.footer-line hr {
    color: #7B7E85;
    height: 1px;
}

.footer-links-politics {
    margin-top: 24px;
    display: flex;
}

.footer-links-politics a {
    color: #7B7E85;    
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-links-politics a:first-of-type {
    margin-right: auto;
}

.footer-active-link a {
    color: #FF7129;
}

.info-section {
    display: flex;
    padding-top: 132px;
}

.image-wrapper {
    padding-left: 134px;
    padding-right: 65px;
    padding-bottom: 115px;

}

.info-text-wrapper {
    padding-top: 45px;
}

.section-about {
    display: flex;    
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 184px;
}

.about-column1 {    
    width: 534px;
    margin-right: 66px;
}

.about-column2 {
    /* padding-left: 66px; */
    width: 534px;

}

.projects-title{
    margin-left: 200px;
    margin-top: 123px;
    margin-bottom: 75px;
    color: red;
}

.projects-slider {
    list-style-type: none;
    display: block;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.installation-section1 {
    padding-top: 58px;
}

.lm-450 {
    margin-left: 450px;    
    width: 700px;
    margin-top: 64px;
}

.installation-dbl-img {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    padding-top: 125px;
    padding-left: 200px;
}

.contact-wrapper {
    padding-left: 200px;
    display: flex;
    margin-top: 64px;
}

.mt-178 {
    margin-top: 112px;
}
