@font-face {
    font-family: Gilroy;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Gilroy-Regular.woff');
}

@font-face {
    font-family: Gilroy;
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Gilroy-Semibold.woff');
}

@font-face {
    font-family: Gilroy;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Gilroy-Bold.woff');
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
    color: #20242D;
}

h1, h2 {
    margin: 0;
}

ul {
    padding: 0;
}

.page-header {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
}

.navigation-link {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #20242D;
}

.active-nav-link {
    color: #FF7129;
    position: relative;
}

.active-nav-link::before {
    position: absolute;
    content: '';
    background-color: #FF7129;
    width: 10px;
    height: 1px;
    top: 50%;
    left: -18px;
}

.active-nav-link::after {
    position: absolute;
    content: '';
    background-color: #FF7129;
    width: 10px;
    height: 1px;
    top: 50%;
    right: -18px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 7px;
    align-items: center;
}

.header-wrapper-contacts {
    background-color: #20242D;
    color: #ffffff;
}

.contact-link{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.header-address{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}


.welcome-section{    
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
}

.welcome-section-installations{    
    background-image: url('../img/installation-bg.jpg');
    height: 412px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.welcome-section-installations-wrap {
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    opacity: 0.9;
    width: 100%;
    height: 412px;
    z-index: -1;
}

.welcome-section-installations::before {
    content: "Foton-tech";
    color:transparent;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    opacity: 0.3;
    width: 100%;
    height: 412px;
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: 1;
}

.welcome-section-installations::after {
    content: "Instalacja";
    color:transparent;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    opacity: 0.3;    
    position: absolute;
    right:0;
    bottom:-30px;
    z-index: 1;
}


.welcome-section-wrapper {
    position: relative;        
    background-image: url('../img/main-page-bg.jpg');
    width: 100%;
    height: 844px;
    background-repeat: no-repeat;
    background-size: auto;
}

.welcome-section-wrapper-wrap {
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    mix-blend-mode: multiply;
    opacity: 0.9;
    z-index: -0;
    position: absolute; 
    width: 100%;
    height: 100%;
}

.welcome-section-wrapper::before {
    position: absolute;
    content: '';
    background-image: url('../img/solar.png');
    width: 379px;
    height: 145px;
    background-repeat: no-repeat;
    top: 167px;
    left: 50px;
    z-index: 1;
}

.welcome-section-wrapper::after {
    position: absolute;
    content: '';
    background-image: url('../img/energy.png');
    width: 444px;
    height: 145px;
    background-repeat: no-repeat;
    top: 417px;
    right: 50px;    
}

.main-title{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 92px;
    line-height: 111px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 271px;
    z-index: 1;
    position: relative;
}

.welcome-text{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.button{
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-family: 'Gilroy', sans-serif;
    border: #FF7129;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 187px;
    height: 49px;    
}

.button-popup {
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-family: 'Gilroy', sans-serif;
    border: #FF7129;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 187px;
    height: 49px;    
    margin-left: 250px;
    margin-top: 56px;
}


.centered-button::after{
    position: absolute;
    content: '';
    background-image: url('../img/scroll.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 46px;
    height: 46px;
    margin-top: 106px;
}

.centered-button {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 59px;
    padding-bottom: 290px;
    
}


.title{
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    position: relative;    
    margin-left: 16px;
}

.contact-title {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    position: relative;    
    margin-left: 16px;
}

.contact-title::before {
    position: absolute;
    content: ' ';
    width: 1px;
    height: 52px;
    background-color: #FF7129;    
    left: 186px;
}

.contact-title::after {
    content: "Contacts";
    color:transparent;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #20242D;
    text-stroke: 1px #20242D;
    opacity: 0.1;
    width: 100%;
    height: 412px;
    position: absolute;
    left: 160px;
    top: 56px;
    z-index: 1;
}

.title::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 52px;
    background-color: #FF7129;    
    left: -16px;
}

.installation-title::before{
    position: absolute;
    content: ' ';
    width: 1px;
    height: 52px;
    background-color: #FF7129;    
    left: -16px;
}

.title-white{
    position: relative;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
    padding-top: 200px;
    padding-left: 216px;
    padding-bottom: 103px;    
}

.title-white::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 52px;    
    background-color: #FF7129;        
    left: 200px;
}

.installation-title-main {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 97%;
    color: #FFFFFF;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 163px;
    /* z-index: 100; */
}

.text-container{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.flex-me {
    display: flex;
    justify-content:space-between;
    margin-top: 56px;
}

.flex-me p:first-of-type {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.flex-me p:last-of-type {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.image-slide-wrapper img{
    width: 1019px;
    height: 532px;
}

.contact-naming{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

.email-link-contacts a{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.email-link-contacts{
    position: relative;
    margin-left: 28px;
}

.email-link-contacts::before{
    background-image: url('../img/checkbox.svg');
    background-repeat: no-repeat;
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    left: -28px;
    top: 3px
}

.phone-link-contacts a{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.phone-link-contacts{
    position: relative;
    margin-left: 28px;
}

.phone-link-contacts::before{
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    left: -28px;
    top: 3px
}

.installation-title{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #20242D;
    position: relative;
    margin-left: 16px;
}

.installation-grey-back {
    background-color: #F5F5F5;
    margin-top: 25px;
    margin-bottom: 32px;
    width: 698px;
    height: 122px;
}

.text-container-in-grey {
    padding: 16px 24px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #20242D;
}

.installation-title-list{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
}

.installation-list-items-container{    
    width: 700px;
    height: 40px;
    background: #F2F2F2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;    
}

.installation-list-items-container::before{
    position: absolute;
    content: ' ';
    background-image: url('../img/arrow_li.svg');
    width: 16px;
    height: 16px;
    left: 20px;
}

.horisontal-line {
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
}

.installation-list-items{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    padding-left: 57px;
    position: relative;        
}

.installation-final{
    width: 700px;
    height: 236px;
    left: 450px;
    top: 4966px;
    background: #F2F2F2;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 120px;
}

.orange-text{
    color: #FF7129;
}

.li-footer{
    color: white;
}

.navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;    
    align-items: center;
}

.navigation-list li {
    margin-right: 56px;
}

.navigation-list li:last-child{
    margin: 0;
}

.header-wrapper-contacts {
    justify-content: flex-start;
}

.header-address {
    margin-right: auto;
}

.contact-link:first-of-type {
    margin-right: 56px;
}

.footer-wrapper{
    background-color: #20242D;      
    padding-left: 50px;
    padding-right: 50px;    
    
}

.footer-menu {
    display: flex;    
    align-items: center;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 52px;
}

.footer-list-wrapper {
    margin-left: auto;
    display: flex;
    color: #FFFFFF;
    list-style-type: none;    
}



.footer-list-wrapper a {
    color: #FFFFFF;    
    margin-right: 56px;    
}

.footer-list-wrapper:first-of-type {
    margin-right: auto;
}


.footer-button {
    width: 187px;
    height: 49px;
    background-color: transparent;
    border: 1px solid #FF7129;
    color: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
}


.footer-line hr {
    color: #7B7E85;
    height: 1px;
}

.footer-links-politics {
    margin-top: 24px;
    display: flex;
}

.footer-links-politics a {
    color: #7B7E85;    
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-links-politics a:first-of-type {
    margin-right: auto;
}

.footer-active-link a {
    color: #FF7129;
}

.info-section {
    display: flex;
    padding-top: 132px;
}

.image-wrapper {
    margin-left: 200px;
    padding-right: 65px;
    padding-bottom: 115px;
    position: relative;
}

.image-wrapper img{
    width: 600px;
    height: 600px;
}


.image-wrapper::after{
    position: absolute;
    content: '';
    background-image: url('../img/xx-index.png');
    background-repeat: no-repeat;    
    mix-blend-mode:hue;
    width: 535px;
    height: 606px;
    left: -200px;
    top: -33px;
}

.info-text-wrapper {
    padding-top: 45px;
}

.section-about {
    display: flex;    
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 200px;
    padding-bottom: 184px;
}

.about-column1 {    
    width: 534px;
    margin-right: 66px;
    position: relative;
}

.about-column2 {
    /* padding-left: 66px; */
    width: 534px;

}

.projects-title{
    margin-left: 200px;
    margin-top: 123px;
    margin-bottom: 75px;
    color: red;
}

.projects-slider {
    list-style-type: none;
    display: block;
    flex-direction: column;
    margin-left: 300px;
    margin-right: auto;
}

.installation-section1 {
    padding-top: 58px;
}

.lm-450 {
    margin-left: 450px;    
    width: 700px;
    margin-top: 64px;
}

.installation-dbl-img {
    display: flex;
    width: 698px;
}

.installation-dbl-img img {
    width: 335px; 
    height: 251px;
}

.installation-dbl-img img:first-of-type {
    margin-right: auto;
}

.contact-title {
    padding-top: 125px;
    padding-left: 200px;
}

.contact-wrapper {
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.mt-178 {
    margin-top: 112px;
    position: relative;
}

.contact-address {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #20242D;
    position: relative;
    margin-left: 28px;
}

.contact-address::before{
    background-image: url('../img/location.svg');
    background-repeat: no-repeat;
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    left: -28px;
    top: 3px
}

.welcome-section-about{
    background-image: url('../img/bg-about.jpg');
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: -1;
}

.welcome-section-about::after {
    background: radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3);
    opacity: 0.9;
    mix-blend-mode: multiply;
    content: "";
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    z-index: -1;
}

.welcome-section-about::before{
    position: absolute;
    content: '';
    width: 313px;
    height: 116px;
    background-image: url('../img/about.png');
    background-repeat: no-repeat;
    left: 173px;
    top: 131px;
}

.button-red {
    background-color: red;
}

.popup-container {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 36, 45, 0.9);    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup-container-calculation {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 36, 45, 0.9);    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup-container-hidden {
    display: none;
}

.popup {
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 97px;
    padding-bottom: 72px;
    background-color: #FFFFFF;
    position: relative;
    width: 800px;
    z-index: 2;
}

.popup::before {
    content: "Calculator";
    position:absolute;
    top: 28px;
    left: 32px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #20242D;
    text-stroke: 1px #20242D;
    opacity: 0.1;
}

.close {
    position: absolute;
    background-image: url('../img/x.svg');
    background-color: transparent;
    border: 0;
    top: 20px;
    right: 30px;
    width: 15px;
    height: 15px;
    z-index: 2;
}



.close-calc, .close-thanks {
    position: absolute;
    background-image: url('../img/x-white.svg');
    background-color: transparent;
    border: 0;
    top: 20px;
    right: 30px;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.popup-form {
    display: flex;    
    position: relative;
    
}

.popup-form p:nth-child(2), input:nth-child(2) {
    position: absolute;
    left: 357px;
}

.footer-popup::before{
    content: 'Callback';
    position: absolute;
    width: 474px;
    height: 116px;
    left: 32px;
    top: 28px;
    font-family: Gilroy, sans-serif;    
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    opacity: 0.1;
    color: transparent;    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #20242D;
}


.close-callback-popup {
    background: url('../img/x.svg');
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 22px;
    right: 22px;
}

input::placeholder {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
}

input {
    border: 1px solid #E0E0E0;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 17px;
    width: 327px;
}

.grey {
    color: #7B7E85;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

img {
    width: 100%;
    max-height: 100%;
}

.projects-slider {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;    /* position: relative; */
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

.projects-slider ul {
    list-style: none;
    /* margin-left: 30px; */
}

.slider-item-active {
    margin-left: auto;
    margin-right: auto;
    position: relative;    
    width: 1020px;
    height: 500px;
}


.left-button {
    content: '';
    position: absolute;
    background-color: #FF7129;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    left: 10%;
    top: 225px;
    z-index: 1;
}

.right-button {
    content: '';
    position: absolute;
    background-color: #FF7129;
    background-image: url('../img/arrow.svg');
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    right: 10%;
    top: 225px;
    z-index: 1;
}

.empty-shell {
    display: flex;
    flex: 1 1020px 1;
    justify-content: center;
    align-items: center;
}


.slider-item-left {
    position: absolute;
    left: -920px;
    width: 1020px;
    height: 500px;
    opacity: 0.5;
}

.slider-item-right {
    position: absolute;
    right: -920px;
    width: 1020px;
    height: 500px;
    opacity: 0.5;
}

.slider-item-hidden {
    display: none;
}

.vertical-line-center {
    width: 1px;
    height: 100vh;
    position:fixed;
    background-color:#7B7E85;
    opacity: 0.15;
    z-index: -1;
    top: 0;
    left: 800px;
}

.vertical-line-center::before {
    content: '';
    width: 1px;
    height: 100vh;
    position:fixed;
    background-color:#7B7E85;
    z-index: -1;
    top: 0;
    left: 200px;
}

.vertical-line-center::after {
    content: '';
    width: 1px;
    height: 100vh;
    position:fixed;
    background-color:#7B7E85;
    z-index: -1;
    top: 0;
    left: 1400px;
}

.projects-title .title::after{
    content: "Gallery";
    position:absolute;
    color:transparent;
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    font-size: 96px;
    line-height: 116px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #20242D;
    text-stroke: 1px #20242D;
    opacity: 0.1;
    left: -27px;
    top: -67px;
    z-index: 1;   
}

.input-type-range input {
    width: 100%
}

.custom-select{
    width: 327px;
    height: 50px;
    background: #FFFFFF;    
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7B7E85;
    /* padding-top: 16px; */
    padding-left: 24px;
}

.select-container {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.label-select {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7B7E85;
    margin-bottom: 12px;
}

.mt-56 {
    margin-top: 56px;
}

.calc-wrapper {    
    background-color: #FFFFFF;
    position: relative;
    width: 800px;
    height: 717px;
    z-index: 1;
}

.calc-header {    
    width: 800px;
    height: 225px;
    padding: 0;
    margin-top: -16px;
    background: #FF7129;
}

.calc-header-text {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 72px;
    padding-left: 58px;
}

.flex-calc {
    display: flex;
    justify-content:space-between;
    margin-top: -68px;
}

.calc-header-sum{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-left: 58px;
}

.btn-sum {    
    width: 187px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    margin-top: 40px;
    margin-right: 58px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF7129;
}

.calc-form {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.calc-input {
    width: 327px;
    height: 52px;
}

.calc-input {
    margin-left: 58px;
}

.calc-input:nth-child(1) {
    margin-left: 58px;
}

input, label {
    display:block;    
}

.btn-calc {
    width: 187px;
    height: 49px;
    background: #FF7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: 58px;
}

.ml-58 {
    margin-left: 58px;
}

.mt-24 {
    margin-top: 24px;
}

.thanks-wrapper {    
    background-color: #FF7129;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 800px;
    height: 468px;
    z-index: 1;
}

.thanks-title {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 40px;  
}

.thanks-text {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 50px;
}

.thanks-button {
    width: 187px;
    height: 49px;
    background: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FF7129;
}